<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/part1">part1</a></li>
				<li><a href="/part2">part2</a></li>
				<li><a href="/part3">part3</a></li>
				<li><a href="/part4">part4</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:qidzhang@clarku.edu">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/Austinzqd</a></li>
				</ul>
			</footer>
		</body>
	</html>
